{% comment %}
{%if page.permalink == '/skills/' or page.permalink == '/projects/'%}
<nav class="navbar sticky">
    {%else%}
    <nav class="navbar">
        {%endif%}
        {% endcomment %}


        <nav class="navbar">
            <div class="container">
                <div class="logo"><a href="{{ site.baseurl | relative_url }}">Al <span class="special-format">Chemist</span></a></div>
                <ul class="menu">
                    <li><a href="{{ site.baseurl }}#" class="hamburger-item">Home</a></li>
                    <li><a href="{{ site.baseurl }}#about" class="hamburger-item">About</a></li>
                    <li><a href="{{ site.baseurl }}#skills" class="hamburger-item">Skills</a></li>
                    <li><a href="{{ site.baseurl }}#projects" class="hamburger-item">Projects</a></li>
                    <li><a href="{{ site.baseurl }}#contacts" class="hamburger-item">Contacts</a></li>
                </ul>
                <div class="hamburger"></div>
            </div>
        </nav>