@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif; }

@media (min-width: 768px) {
  html {
    font-size: 14px; } }

@media (min-width: 1280px) {
  html {
    font-size: 16px; } }

@media (min-width: 1600px) {
  html {
    font-size: v 18px; } }

body,
table,
form,
select,
option,
input,
textarea {
  font: inherit;
  color: var(--color-body-text);
  background: var(--color-body-bg); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-family: "Ubuntu", sans-serif; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 2.0em; }

h4 {
  font-size: 1.7em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: var(--color-body-text); }
  a.text-link {
    color: var(--color-link-main);
    font-weight: bold; }
  a.text-link:hover {
    color: var(--color-link-hover); }

ul {
  list-style-type: none; }

span.vip-text {
  font-weight: bold; }

ul ul,
ol ul,
ul ol,
ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  width: 80%;
  margin: auto;
  margin-bottom: 1.5em;
  padding-left: 4em;
  padding-right: 4em;
  position: relative;
  font-family: 'PT Serif', serif;
  background: #eee; }
  blockquote::before, blockquote::after {
    display: block;
    content: '';
    width: 38px;
    height: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  blockquote::before {
    background: url(../images/logos/razor_ltr.png) no-repeat;
    background-size: cover;
    left: 0.8em; }
  blockquote::after {
    background: url(../images/logos/razor_rtl.png) no-repeat;
    background-size: cover;
    right: 0.8em; }

.quote-text {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
  font-style: italic; }

.quote-author {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1em; }
  .quote-author::before, .quote-author::after {
    display: inline-block;
    content: '\2014'; }
  .quote-author::before {
    padding-right: 0.5em; }
  .quote-author::after {
    padding-left: 0.5em; }

html {
  scroll-behavior: smooth; }

main {
  min-height: calc(100vh - 4em); }

section {
  padding: 7em 0; }
  section .title {
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    position: relative; }
    section .title:before {
      position: absolute;
      content: "";
      bottom: 0.05em;
      left: 50%;
      width: 14rem;
      height: 0.3rem;
      background: #202020;
      transform: translate(-50%); }
    section .title:after {
      position: absolute;
      bottom: -0.9rem;
      left: 50%;
      font-size: 0.5em;
      color: #c00f0f;
      padding: 0.2em 0.5rem;
      background: white;
      transform: translate(-50%); }

.container {
  max-width: 60vw;
  margin: auto; }
  @media (max-width: 1024px) {
    .container {
      max-width: 80vw; } }
  @media (max-width: 768px) {
    .container {
      max-width: 95vw; } }

.about .about-content,
.skills .skills-content-summary,
.skills .skills-content,
.contacts .contacts-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .about .about-content,
    .skills .skills-content-summary,
    .skills .skills-content,
    .contacts .contacts-content {
      display: block; } }
  .about .about-content .column,
  .skills .skills-content-summary .column,
  .skills .skills-content .column,
  .contacts .contacts-content .column {
    width: calc(50% - 2em); }
    @media (max-width: 768px) {
      .about .about-content .column,
      .skills .skills-content-summary .column,
      .skills .skills-content .column,
      .contacts .contacts-content .column {
        width: 100%; } }

#preloader {
  margin: auto;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  color: white;
  background: black;
  font-size: 4em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center; }

#preloader span {
  position: fixed;
  top: calc(50% + 1rem);
  background-color: #c00f0f;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  -webkit-animation: animate-preloader 1s linear infinite;
          animation: animate-preloader 1s linear infinite; }
  #preloader span:nth-child(1) {
    left: calc(50% + 2.4em); }
  #preloader span:nth-child(2) {
    left: calc(50% + 2.7em);
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  #preloader span:nth-child(3) {
    left: calc(50% + 3em);
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }

@-webkit-keyframes animate-preloader {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(0.75rem); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0px); } }

@keyframes animate-preloader {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(0.75rem); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-0.75rem); }
  100% {
    transform: translateY(0px); } }

.btn {
  text-align: center;
  color: white;
  background: #c00f0f;
  border: 2px solid #c00f0f;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0.5em 1em;
  font-weight: 600; }
  .btn:hover {
    background: white;
    color: #c00f0f; }
  .btn:disabled {
    cursor: not-allowed;
    background-color: rgba(192, 15, 15, 0.5); }
    .btn:disabled:hover {
      cursor: not-allowed !important;
      background-color: rgba(192, 15, 15, 0.5);
      color: white; }
  .btn.scroll-btn-up {
    padding: 0;
    font-size: 2em;
    position: fixed;
    right: 1em;
    bottom: 0.5em;
    height: 1.6em;
    width: 1.5em;
    z-index: 999;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease; }
    .btn.scroll-btn-up:hover {
      background: #c00f0f;
      color: white; }
    .btn.scroll-btn-up.show {
      pointer-events: auto;
      opacity: 1;
      bottom: 1em; }

.navbar {
  position: fixed;
  width: 100%;
  padding: 2em 0;
  font-family: "Ubuntu", sans-serif;
  z-index: 999;
  transition: all 0.3s ease; }
  .navbar.static {
    transition: none; }
  .navbar.sticky {
    padding: 1em 0;
    background-color: #c00f0f; }
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navbar .logo a {
    font-size: 2em;
    font-weight: 600;
    color: white; }
    .navbar .logo a span {
      color: #c00f0f;
      transition: all 0.3s ease; }
  .navbar.sticky .logo a,
  .navbar.sticky .logo a span {
    color: white;
    transition: all 0.3s ease; }
  .navbar .menu li {
    list-style: none;
    display: inline-block; }
    .navbar .menu li a {
      display: block;
      color: white;
      font-size: 1.2em;
      font-weight: 500;
      margin-left: 1.5em;
      transition: all 0.3s ease; }
      .navbar .menu li a:hover {
        color: #c00f0f; }
  .navbar.sticky .menu li a:hover {
    color: white; }
  .navbar .hamburger,
  .navbar .hamburger-item {
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    display: none; }
  @media (max-width: 1024px) {
    .navbar .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      background-color: #000;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease; }
      .navbar .menu.active {
        left: 0; }
      .navbar .menu li {
        display: block; }
        .navbar .menu li a {
          display: inline-block;
          margin: 20px 0;
          font-size: 2em; }
    .navbar .hamburger {
      display: block;
      z-index: 999; }
      .navbar .hamburger:after {
        content: '\f0c9';
        font-family: 'Font Awesome 5 Free';
        font-weight: bold;
        color: white; }
      .navbar .hamburger.active:after {
        content: '\f00d'; } }

.home {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/images/background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-height: 30em;
  color: white;
  font-family: "Ubuntu", sans-serif; }
  .home .container {
    width: 60vw; }
    .home .container .home-content .text-1 {
      font-size: 2em; }
    .home .container .home-content .text-2 {
      font-size: 6em;
      font-weight: 600; }
    .home .container .home-content .text-3 {
      font-size: 3em; }
      .home .container .home-content .text-3 .typing-1-items {
        display: none; }
      .home .container .home-content .text-3 .typing-1 {
        color: #c00f0f;
        font-weight: 500; }
    @media (max-width: 450px) {
      .home .container .home-content .text-1 {
        font-size: 1.5em; }
      .home .container .home-content .text-2 {
        font-size: 4em; }
      .home .container .home-content .text-3 {
        font-size: 2em; } }
    @media (max-width: 1024px) {
      .home .container {
        width: 80vw; } }
    @media (max-width: 768px) {
      .home .container {
        width: 95vw; } }

.about .title:after {
  content: "who I am";
  color: #c00f0f; }

.about .about-content .left img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem; }

.about .about-content .right .text {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em; }
  .about .about-content .right .text .typing-2-items {
    display: none; }
  .about .about-content .right .text .typing-2 {
    color: #c00f0f; }

.about .about-content p {
  text-align: justify; }

@media (max-width: 768px) {
  .about .about-content .left {
    margin-bottom: 2em; } }

.skills .title:after {
  content: "what i know"; }

.skills .skills-content-summary .right-summary .bars,
.skills .skills-content-summary .left .bars,
.skills .skills-content-summary .right .bars,
.skills .skills-content .right-summary .bars,
.skills .skills-content .left .bars,
.skills .skills-content .right .bars {
  margin-bottom: 1.2em;
  width: 100%; }

.skills .skills-content-summary .right-summary .info,
.skills .skills-content-summary .left .info,
.skills .skills-content-summary .right .info,
.skills .skills-content .right-summary .info,
.skills .skills-content .left .info,
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
  justify-content: space-between; }

.skills .skills-content-summary .right-summary span,
.skills .skills-content-summary .left span,
.skills .skills-content-summary .right span,
.skills .skills-content .right-summary span,
.skills .skills-content .left span,
.skills .skills-content .right span {
  font-size: 1.5em;
  font-weight: 500; }

.skills .skills-content-summary .right-summary .line,
.skills .skills-content-summary .left .line,
.skills .skills-content-summary .right .line,
.skills .skills-content .right-summary .line,
.skills .skills-content .left .line,
.skills .skills-content .right .line {
  height: 0.3em;
  width: 100%;
  background: lightgray;
  position: relative; }
  .skills .skills-content-summary .right-summary .line:before,
  .skills .skills-content-summary .left .line:before,
  .skills .skills-content-summary .right .line:before,
  .skills .skills-content .right-summary .line:before,
  .skills .skills-content .left .line:before,
  .skills .skills-content .right .line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #c00f0f;
    height: 100%;
    width: 100%; }
  .skills .skills-content-summary .right-summary .line.html:before,
  .skills .skills-content-summary .left .line.html:before,
  .skills .skills-content-summary .right .line.html:before,
  .skills .skills-content .right-summary .line.html:before,
  .skills .skills-content .left .line.html:before,
  .skills .skills-content .right .line.html:before {
    width: 75%; }
  .skills .skills-content-summary .right-summary .line.css:before,
  .skills .skills-content-summary .left .line.css:before,
  .skills .skills-content-summary .right .line.css:before,
  .skills .skills-content .right-summary .line.css:before,
  .skills .skills-content .left .line.css:before,
  .skills .skills-content .right .line.css:before {
    width: 70%; }
  .skills .skills-content-summary .right-summary .line.js:before,
  .skills .skills-content-summary .left .line.js:before,
  .skills .skills-content-summary .right .line.js:before,
  .skills .skills-content .right-summary .line.js:before,
  .skills .skills-content .left .line.js:before,
  .skills .skills-content .right .line.js:before {
    width: 65%; }
  .skills .skills-content-summary .right-summary .line.mongo:before,
  .skills .skills-content-summary .left .line.mongo:before,
  .skills .skills-content-summary .right .line.mongo:before,
  .skills .skills-content .right-summary .line.mongo:before,
  .skills .skills-content .left .line.mongo:before,
  .skills .skills-content .right .line.mongo:before {
    width: 60%; }
  .skills .skills-content-summary .right-summary .line.react:before,
  .skills .skills-content-summary .left .line.react:before,
  .skills .skills-content-summary .right .line.react:before,
  .skills .skills-content .right-summary .line.react:before,
  .skills .skills-content .left .line.react:before,
  .skills .skills-content .right .line.react:before {
    width: 60%; }

.skills .skills-content-summary .left-summary .text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em; }

.skills .skills-content-summary .left-summary p {
  text-align: justify; }

.skills .skills-content-summary .left-summary a {
  display: inline-block;
  margin-top: 1em; }

.skills .skills-content .left,
.skills .skills-content .right {
  align-self: flex-start;
  display: flex;
  flex-direction: column; }
  .skills .skills-content .left .line.html:before,
  .skills .skills-content .right .line.html:before {
    width: 75%; }
  .skills .skills-content .left .line.css:before,
  .skills .skills-content .right .line.css:before {
    width: 70%; }
  .skills .skills-content .left .line.sass:before,
  .skills .skills-content .right .line.sass:before {
    width: 60%; }
  .skills .skills-content .left .line.js:before,
  .skills .skills-content .right .line.js:before {
    width: 65%; }
  .skills .skills-content .left .line.ts:before,
  .skills .skills-content .right .line.ts:before {
    width: 50%; }
  .skills .skills-content .left .line.node:before,
  .skills .skills-content .right .line.node:before {
    width: 60%; }
  .skills .skills-content .left .line.mongo:before,
  .skills .skills-content .right .line.mongo:before {
    width: 60%; }
  .skills .skills-content .left .line.mongoose:before,
  .skills .skills-content .right .line.mongoose:before {
    width: 60%; }
  .skills .skills-content .left .line.fire:before,
  .skills .skills-content .right .line.fire:before {
    width: 30%; }
  .skills .skills-content .left .line.sql:before,
  .skills .skills-content .right .line.sql:before {
    width: 25%; }
  .skills .skills-content .left .line.jquery:before,
  .skills .skills-content .right .line.jquery:before {
    width: 40%; }
  .skills .skills-content .left .line.react:before,
  .skills .skills-content .right .line.react:before {
    width: 60%; }
  .skills .skills-content .left .line.redux:before,
  .skills .skills-content .right .line.redux:before {
    width: 30%; }

.skills .skills-content .bottom {
  margin-top: 2em;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between; }
  .skills .skills-content .bottom .lang-skills,
  .skills .skills-content .bottom .other-skills,
  .skills .skills-content .bottom .soft-skills {
    width: 33%; }
    .skills .skills-content .bottom .lang-skills li,
    .skills .skills-content .bottom .other-skills li,
    .skills .skills-content .bottom .soft-skills li {
      margin-bottom: 0.3em; }
  .skills .skills-content .bottom .lang-skills h4 {
    position: relative; }
  .skills .skills-content .bottom .lang-skills .info {
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between; }
    .skills .skills-content .bottom .lang-skills .info span:nth-child(2) {
      font-weight: 600; }
  .skills .skills-content .bottom .lang-skills .legend-bullet {
    font-size: 0.8em;
    color: #c00f0f;
    position: absolute;
    padding-left: 0.2em; }
  .skills .skills-content .bottom .lang-skills .legend-info {
    font-size: 0.8em;
    text-align: right;
    border-top: 2px solid #c00f0f;
    margin-top: 1em; }
    .skills .skills-content .bottom .lang-skills .legend-info a {
      color: #c00f0f;
      font-weight: bold; }

@media (max-width: 768px) {
  .skills .skills-content-summary .left-summary a {
    margin-bottom: 2em; }
  .skills .skills-content .bottom {
    display: block; }
    .skills .skills-content .bottom .other-skills,
    .skills .skills-content .bottom .soft-skills,
    .skills .skills-content .bottom .lang-skills {
      width: 100%;
      margin-top: 1.5em; } }

.projects-carousel {
  color: white;
  background: black; }
  .projects-carousel .title:before {
    background: white; }
  .projects-carousel .title:after {
    content: "what i've done";
    background: black; }
  .projects-carousel .carousel-index .card {
    background-color: #202020;
    border-radius: 0.3rem;
    padding: 1.5em 2em;
    text-align: center;
    position: relative;
    transition: all 0.3s ease; }
    .projects-carousel .carousel-index .card .link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .projects-carousel .carousel-index .card .link:after {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: 'Details';
        font-size: 3em;
        font-weight: 600;
        color: #c00f0f;
        background-color: rgba(255, 255, 255, 0.85);
        opacity: 0;
        border-radius: 0.3rem;
        transition: all 0.3s ease; }
      .projects-carousel .carousel-index .card .link:hover:after {
        opacity: 1; }
    .projects-carousel .carousel-index .card img {
      width: 10em;
      height: 10em;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 0.3rem;
      outline: 2px solid #c00f0f;
      transition: all 0.3s ease; }
    .projects-carousel .carousel-index .card .project-title {
      color: #c00f0f;
      font-weight: 500;
      margin: 1em 0 0.7em 0; }
    .projects-carousel .carousel-index .card .project-description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .projects-carousel .carousel-index .card:hover {
      cursor: pointer; }
  .projects-carousel .carousel-index .owl-item.center {
    border: 2px solid #c00f0f;
    border-radius: 0.3rem; }
    @media (max-width: 500px) {
      .projects-carousel .carousel-index .owl-item.center {
        border: none; } }
  .projects-carousel .carousel-index .owl-dots {
    text-align: center;
    margin: 1em 0em 2em 0; }
  .projects-carousel .carousel-index .owl-dot {
    width: 13px;
    height: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson !important;
    transition: all 0.3s ease; }
  .projects-carousel .carousel-index .owl-dot.active {
    width: 35px;
    border-radius: 14px; }
  .projects-carousel .carousel-index .owl-dot.active,
  .projects-carousel .carousel-index .owl-dot:hover {
    background-color: crimson !important; }
  .projects-carousel .btn {
    margin: 0 auto; }

section.project-details {
  padding-bottom: 3em; }

.project-details .projects-nav.top {
  margin-bottom: 2em; }

.project-details .projects-nav.bottom {
  margin-top: 2em; }

.project-details .projects-nav ul {
  display: flex;
  justify-content: space-between; }
  .project-details .projects-nav ul .btn {
    padding: 0.2em 0.5em;
    font-size: 1em; }
    .project-details .projects-nav ul .btn.left:before, .project-details .projects-nav ul .btn.right:after {
      font-family: "Font Awesome 5 Free"; }
    .project-details .projects-nav ul .btn.left:before {
      content: '\f100';
      padding-right: 0.5em; }
    .project-details .projects-nav ul .btn.right:after {
      content: '\f101';
      padding-left: 0.5em; }

.project-details .project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5em; }
  @media (max-width: 768px) {
    .project-details .project-content .left {
      order: 2; }
    .project-details .project-content .right {
      order: 1; } }

.project-details .column {
  width: calc(50% - 2em); }
  @media (max-width: 768px) {
    .project-details .column {
      width: 100%; } }

.project-details .left div {
  margin-bottom: 2em; }

.project-details .left .url .url-link {
  color: #c00f0f;
  font-weight: 500; }

.project-details .left .technology {
  display: flex;
  align-items: center; }
  .project-details .left .technology .tech-icon {
    min-width: 1.5em;
    font-size: 1.5em;
    text-align: center;
    color: #c00f0f; }
    .project-details .left .technology .tech-icon svg {
      width: 0.9em;
      height: auto; }
    .project-details .left .technology .tech-icon.jquery svg {
      fill: white;
      background: #c00f0f; }
    .project-details .left .technology .tech-icon.express {
      font-size: 0.5em;
      font-weight: bold;
      min-width: 4.5em; }
    .project-details .left .technology .tech-icon.mongo {
      display: flex;
      justify-content: center; }
  .project-details .left .technology .tech-image {
    width: 1.5em;
    font-size: 1.5em; }
    .project-details .left .technology .tech-image img {
      width: 100%;
      height: 100%; }
  .project-details .left .technology .tech-name {
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 0.5em; }

.project-details .left .sub-tech {
  padding-left: 3em;
  color: #404040; }

.project-details .right .carousel-project {
  width: 90%;
  margin: 0 auto;
  position: relative; }
  .project-details .right .carousel-project .img-container .img-desc {
    color: #c00f0f;
    font-weight: 500;
    margin-bottom: 0.5em; }
  .project-details .right .carousel-project .owl-prev,
  .project-details .right .carousel-project .owl-next {
    position: absolute;
    top: 5em; }
  .project-details .right .carousel-project .owl-prev {
    left: -1.7em; }
  .project-details .right .carousel-project .owl-next {
    right: -1.7em; }
  .project-details .right .carousel-project .owl-prev i,
  .project-details .right .carousel-project .owl-next i {
    font-size: 3em;
    color: rgba(192, 15, 15, 0.5);
    transition: color 0.2s ease; }
    .project-details .right .carousel-project .owl-prev i:hover,
    .project-details .right .carousel-project .owl-next i:hover {
      color: #c00f0f; }

.contacts {
  padding-bottom: 3em; }
  .contacts .title:after {
    content: 'get in touch'; }
  .contacts .left .info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
    padding-bottom: 1em; }
    .contacts .left .info-row .icon {
      flex-basis: 2em;
      text-align: center; }
    .contacts .left .info-row .key,
    .contacts .left .info-row .value {
      flex-basis: calc(50% - 1.1em); }
    .contacts .left .info-row .value {
      text-align: right;
      font-weight: 600; }
    .contacts .left .info-row .icon:before {
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      text-align: center;
      font-size: 1.5rem;
      color: #c00f0f; }
    .contacts .left .info-row.name .icon:before {
      content: '\f007'; }
    .contacts .left .info-row.address .icon:before {
      content: '\f3c5'; }
    .contacts .left .info-row.phone .icon:before {
      content: '\f3cd'; }
    .contacts .left .info-row.mail .icon:before {
      content: '\f1fa'; }
  .contacts .right form input[type=text]#webform {
    display: none; }
  .contacts .right form .user-data {
    display: flex;
    justify-content: space-between; }
  .contacts .right form .field {
    height: 3em;
    width: 100%;
    margin-bottom: 1.5em; }
  .contacts .right form .name,
  .contacts .right form .email {
    flex-basis: 49%; }
  .contacts .right form .message {
    height: 6em;
    width: 100%; }
  .contacts .right form .field input,
  .contacts .right form .message textarea {
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 0.3rem;
    outline: none;
    padding: 0 0.5em;
    font-size: 1em;
    font-family: "Poppins", sans-serif; }
    .contacts .right form .field input:focus,
    .contacts .right form .message textarea:focus {
      border: 1px solid #c00f0f;
      outline: 1px solid #c00f0f; }
    .contacts .right form .field input.filled,
    .contacts .right form .message textarea.filled {
      border: 1px solid #c00f0f; }
  .contacts .right form .field {
    position: relative; }
    .contacts .right form .field input::-moz-placeholder, .contacts .right form .field textarea::-moz-placeholder {
      color: gray; }
    .contacts .right form .field input:-ms-input-placeholder, .contacts .right form .field textarea:-ms-input-placeholder {
      color: gray; }
    .contacts .right form .field input::placeholder,
    .contacts .right form .field textarea::placeholder {
      color: gray; }
    .contacts .right form .field:before {
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      position: absolute;
      top: 0.7em;
      left: 0.5em;
      color: gray; }
    .contacts .right form .field.name:before {
      content: '\f007'; }
    .contacts .right form .field.email:before {
      content: '\f1fa'; }
    .contacts .right form .field.subject:before {
      content: '\f02b'; }
    .contacts .right form .field.name input,
    .contacts .right form .field.email input,
    .contacts .right form .field.subject input {
      padding-left: 1.7em; }
    .contacts .right form .field.message textarea {
      padding-top: 0.5em;
      resize: none;
      line-height: 1.6em; }
  .contacts .right form .btn {
    display: block;
    cursor: pointer;
    margin-left: auto; }

.footer {
  color: white;
  background: black;
  padding: 1.25em 0;
  text-align: center; }
  .footer a {
    color: #c00f0f;
    font-weight: bold; }
    .footer a:hover {
      text-decoration: underline; }
  .footer span:before {
    font-family: "Font Awesome 5 Free";
    content: '\f1f9';
    padding-right: 0.3em; }

.not-found {
  padding-top: 10em; }
  .not-found .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .not-found .left .icon:after {
      flex-basis: 100%;
      content: '\f5b4';
      font-size: 8em;
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      margin-right: 0.25em; }
    .not-found .left h1 {
      padding: 0;
      margin: 0;
      line-height: 1;
      font-size: 5em; }
    .not-found .left p {
      padding: 0;
      margin: 0;
      line-height: 1; }
