<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl | relative_url}}images/favicon.ico' />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="{{ site.baseurl | relative_url}}scripts/scripts.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl | relative_url}}css/styles.css">

    {% if page.title%}
    <title>{{site.title}} | {{page.title}}</title>
    {%else%}
    <title>{{site.title}}</title>
    {%endif%}

</head>

<body id="top">
    <header class="header">
        {% include navigation.html location="header" %}
        <!-- <nav class="navbar">
            <div class="container">
                <div class="logo"><a href="{{ site.baseurl | relative_url }}">Al <span>Chemist</span></a></div>
                {% include navigation.html location="header" %}
                <div class="hamburger"></div>
            </div>
        </nav> -->
    </header>

    <main>
        {{ content }}
    </main>

    <footer class="footer">
        Created by <a href="">Al Chemist</a> | <span>2021 All Rights Reserved</span>
    </footer>

    <div id="preloader">
        LOADING
        <span>

        </span>
        <span>

        </span>
        <span>

        </span>
    </div>

    <div class="btn scroll-btn-up">
        <a href="#"><i class="icon fas fa-angle-up"></i></a>
    </div>

</body>

</html>