.about {
    .title {
        &:after {
            content: "who I am";
            color: $color-red;
        }
    }

    .about-content {
        .left {

            img {
                height: auto;
                width: 100%;
                object-fit: cover;
                border-radius: $border-radius;
            }
        }

        .right {

            .text {
                font-size: 2em;
                font-weight: $font-weight-semiBold;
                margin-bottom: 1em;

                .typing-2-items {
                    display: none;
                }

                .typing-2 {
                    color: $color-red;
                }
            }
        }

        p {
            text-align: justify;
            font-size: 1.2em;
        }

        @media(max-width: 768px) {

            .left {
                margin-bottom: 2em;
            }
        }
    }
}