.btn {
    text-align: center;
    color: $color-white;
    background: $color-red;
    border: 2px solid $color-red;
    border-radius: $border-radius;
    transition: all 0.3s ease;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0.5em 1em;
    font-weight: 600;

    &:hover {
        background: $color-white;
        color: $color-red;
    }

    &:disabled{
        cursor: not-allowed;
        background-color: $color-red-alpha;
        
        &:hover{
            cursor: not-allowed !important;
            background-color: $color-red-alpha;
            color: $color-white;
        }
    }

    &.scroll-btn-up {
        padding: 0;
        font-size: 2em;
        // line-height: 1.25em;
        position: fixed;
        right: 1em;
        bottom: 0.5em;
        height: 1.6em;
        width: 1.5em;
        z-index: 999;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease;

        &:hover {
            background: $color-red;
            color: $color-white;
        }
        
        &.show {
            pointer-events: auto;
            opacity: 1;
            bottom: 1em;
        }
    }
}