html {
    scroll-behavior: smooth;
}

main {
    min-height: calc(100vh - 4em);
}

section {
    padding: 7em 0;

    .title {
        text-align: center;
        font-size: 3em;
        font-weight: $font-weight-medium;
        margin-bottom: 1em;
        padding-bottom: 0.5em;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            // font-size: 3em;
            bottom: 0.05em;
            left: 50%;
            width: 14rem;
            height: 0.3rem;
            background: $color-medium-black;
            transform: translate(-50%);
        }

        &:after {
            position: absolute;
            bottom: -0.9rem;
            left: 50%;
            font-size: 0.5em;
            color: $color-red;
            padding: 0.2em 0.5rem;
            background: $color-white;
            transform: translate(-50%);
        }
    }

}

.container {
    max-width: $content-width;
    margin: auto;

    @media(max-width: 1024px) {
        max-width: $content-width-medium;
    }

    @media(max-width: 768px) {
        max-width: $content-width-small;
    }

}

.about .about-content,
.skills .skills-content-summary,
.skills .skills-content,
// .project-details .project-content,
.contacts .contacts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(max-width: 768px) {
        display: block;
    }

    .column {
        width: $column-width;

        @media(max-width: 768px) {
            width: 100%;
        }
    }
}