.projects-carousel {
    color: $color-white;
    background: $color-black;

    .title:before {
        background: $color-white;
    }

    .title:after {
        content: "what i've done";
        background: $color-black;
    }

    .carousel {
        // display: flex;

        .card {
            background-color: $color-medium-black;
            border-radius: $border-radius;
            padding: 1.5em 2em;
            text-align: center;
            position: relative;
            transition: $transition-all;

            .link {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:after {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: 'Details';
                    font-size: 3em;
                    font-weight: $font-weight-semiBold;
                    color: $color-red;
                    background-color: $color-white-alpha;
                    opacity: 0;
                    border-radius: $border-radius;
                    transition: $transition-all;
                }

                &:hover:after {
                    opacity: 1;
                }
            }

            img {
                width: 10em;
                height: 10em;
                object-fit: cover;
                border: 2px solid $color-red;
                transition: $transition-all;
            }

            .project-title {
                color: $color-white;
                font-weight: $font-weight-medium;
                margin: 1em 0 0.7em 0;
            }

            .project-description {
                // width: 100%;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;

                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            &:hover {
                // background-color: $color-red;

                // .link:hover:after {
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     content: 'Details';
                //     font-size: 2em;
                //     font-weight: $font-weight-semiBold;
                //     color: $color-red;
                //     width: 100%;
                //     height: 100%;
                //     background-color: $color-white-alpha;
                // }

                img {
                    // transform: scale(1.05);// border-color: #fff;
                }

                cursor: pointer;
            }
        }
    }

    .owl-dots {
        text-align: center;
        margin: 1em 0em 2em 0;

    }

    .owl-dot {
        width: 13px;
        height: 13px;
        margin: 0 5px;
        outline: none !important;
        border-radius: 50%;
        border: 2px solid crimson !important;
        transition: all 0.3s ease;
    }

    .owl-dot.active {
        width: 35px;
        border-radius: 14px;
    }

    .owl-dot.active,
    .owl-dot:hover {
        background-color: crimson !important;
    }

    .btn {
        margin: 0 auto;
    }
}

.project-details {
    .column {
        width: $column-width;

        @media(max-width: 768px) {
            width: 100%;
        }

    }

    img {
        width: 100%;
    }

    .technology {
        display: flex;
        align-items: baseline;
        align-items: center;
        
        .tech-icon {
            width: 1.5em;
            font-size: 1.5em;
            color: $color-red;
            // text-align: center;
            position: relative;
            
            &.jquery{
                // padding-left: 1em;
            }
            
            svg {
                width: 0.9em;
                height: auto;
                fill: $color-white;
                background: $color-red;
                // position: absolute;
                // left: 0.2em;
                // bottom: -0.2em;
            }
        }

        .tech-name {}
    }


    .tech-name {
        font-size: 1.2em;
        font-weight: $font-weight-medium;
    }
}